body {
  font-size: 14px;
}


// TODO: add button hover and focus styles.
input {
  &:hover {
    // TODO: Hover Border Color Variable
    box-shadow: inset 0 0 0 2pt rgb(115, 114, 209); 
    // TODO: Focus BG Color Variable
    background-color: rgb(231, 199, 199); 
  }
  &:focus {
    outline: none;
    // TODO: Focus Border Color Variable
    box-shadow: inset 0 0 0 2pt rgb(65, 62, 228);
    // TODO: Focus BG Color Variable
    background-color: rgb(182, 182, 182); 
  }
}

button {
  height: 30px;
  font-size: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Headers
.h1 {
  font-size: 4rem;
}

.h2 {
  font-size: 3rem;
}

.h3 {
  font-size: 2.5rem;
}

.h4 {
  font-size: 2rem;
}

.h5 {
  font-size: 1.5rem;
}

.h6 {
  font-size: 1.2rem;
}


